In [51]:

class Processor(object): 
    def __init__(self, dbPathOrUrl):
        self.dbPathOrUrl = dbPathOrUrl
        self.dbPathOrUrl = ""
        
    def setDbPathOrUrl(self, new_path):
        self.dbPathOrUrl= new_path
        if new_path:
            return True 
        else: 
            return False
    def getDbPathOrUrl(self):
        return self.dbPathOrUrl


class AnnotationProcessor(Processor): 
    def __init__(self, dbPathOrUrl):
        super().__init__(dbPathOrUrl)

    def uploadData(self, path):
        pass 

class MetadataProcessor(Processor):
    def __init__(self, dbPathorUrl):
        super().__init__(dbPathorUrl)
    def uploadData(self, path1):
        pass

The first step is to model tables that can be uploaded into the database. I did this following the guidelines available in the 4th handson lesson. First, I created tables for all the entities that do not have subclasses, then I worked on the relations between classes -> keep in mind that subclasses inherit attributes and relations of the super-class. For each table, I added an additional column that contains the Internal identifier (primary key) used to identify uniquely the entities. The value of the columns related to relations points to an internal identifier of another table (I did this in the "ImageId" column in the image_ids table). In case of multivalued attributes, the guidelines suggest creating a proxy table that assigns an internal identifier for each of the attributes -> I created a proxy table for "creators". The proxy table's internal identifier is shared in the "creator_id" column of "Entity with metadata" table (here is considered to be as a foreign key).

In [52]:
from sqlite3 import connect
from pandas import read_csv, Series
import pandas as pd
with connect("relational.db") as con: 
        con.commit()
        
path = read_csv("data/annotations.csv", keep_default_na=False, dtype={"id":"string", "body":"string", "target":"string", "motivation":"string"})

image_ids = path[["body"]]
image_internal_id = []
for idx, row in image_ids.iterrows():
    image_internal_id.append("image-" + str(idx))

image_ids.insert(0, "imageId", Series(image_internal_id, dtype="string"))

annotations_ids = path[["id", "target", "motivation"]]
annotations_ids = annotations_ids.rename(columns={"id": "annotation"})
annotations_internal_id = []
for idx, row in annotations_ids.iterrows():
            annotations_internal_id.append("annotations-" + str(idx))

annotations_ids.insert(0, "annotationsId", Series(annotations_internal_id, dtype="string"))
annotations_ids = annotations_ids.join(image_ids["imageId"]) 
annotations_ids

,annotationsId,annotation,target,motivation,imageId
0,annotations-0,https://dl.ficlit.unibo.it/iiif/2/28429/annota...,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p1,painting,image-0
1,annotations-1,https://dl.ficlit.unibo.it/iiif/2/28429/annota...,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p2,painting,image-1
2,annotations-2,https://dl.ficlit.unibo.it/iiif/2/28429/annota...,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p3,painting,image-2
3,annotations-3,https://dl.ficlit.unibo.it/iiif/2/28429/annota...,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p4,painting,image-3
4,annotations-4,https://dl.ficlit.unibo.it/iiif/2/28429/annota...,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p5,painting,image-4
...,...,...,...,...,...
266,annotations-266,https://dl.ficlit.unibo.it/iiif/2/19425/annota...,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,painting,image-266
267,annotations-267,https://dl.ficlit.unibo.it/iiif/2/19425/annota...,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,painting,image-267
268,annotations-268,https://dl.ficlit.unibo.it/iiif/2/19425/annota...,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,painting,image-268
269,annotations-269,https://dl.ficlit.unibo.it/iiif/2/19425/annota...,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,painting,image-269
270,annotations-270,https://dl.ficlit.unibo.it/iiif/2/19425/annota...,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,painting,image-270

### Entity with metadata processor

I had to separate the multivalued attributes that in the CSV file were represented in the proxy table as a unique string separated by ";" ("Doe, John; Doe, Jane"). The multivalued attributes need to be separate because each attribute needs to be associated to a unique identifier (i.e. John Doe could be the author of other books, for this reason he needs to be separated from Jane Doe and be considered as a single attribute).

In [53]:
from sqlite3 import connect
from pandas import read_csv, Series, DataFrame
import pandas as pd
import re
pd.options.mode.chained_assignment = None
metadata = read_csv("data/metadata.csv", 
                    keep_default_na=False,
                    dtype={
                        "id": "string",
                        "title": "string",
                        "creator": "string"
                    })
creators = metadata[["creator"]]
for i in creators["creator"]:
    if ";" in i:
        creators["creator"] = creators["creator"].str.split(r";\s")
#     # Divisione dei valori sulla base del separatore ";" 
        creators = creators.explode("creator")
#     # Espansione della colonna in righe separate
        creators = creators.reset_index(drop=True)
values_df2 = creators["creator"].values
list_1 =[]
creator_internal_id = []
for z in values_df2:
        if z not in list_1:
                list_1.append(z)
                creator_internal_id.append("creator-" + str(list_1.index(z)))
        else:
            for i in list_1:
                if z == i:
                    creator_internal_id.append("creator-" + str(list_1.index(i)))

creators.insert(0,"creatorId", Series(creator_internal_id, dtype= "string")) 
creators

     creatorId           creator
0    creator-0         Doe, John
1    creator-1         Doe, Jane
2    creator-2  Alighieri, Dante
3    creator-3
4    creator-3
..         ...               ...
271  creator-3
272  creator-3
273  creator-3
274  creator-3
275  creator-3

[276 rows x 2 columns]

The main goal in this step was to represent correctly in the "Entity with metadata" table the association between id, title and creator. The creator in this table is represented as a foreign key that points directly to the proxy one. 
The main problem was trying to associate single creators to their work, even though before they were considered co-creators(represented as a single string containing 2 names).
 
By looking at the RELATIONAL QUERY PROCESSOR, in particular the method "getEntitiesWithCreator", I realized that we should access to all metadata related to the entities by considering as input ONE OF THE CREATORS.
For this reason, I decided to create an identical row below each book that has been written by more than one author. 
After that, I joined "creators_id" into this table. 

i.e. I cloned the row in which John Doe and Jane Doe are considered authors. I deleted the "creator" column and then I reassigned it to the "creator_id". In this way both John Doe and Jane Doe are considered singularly as creators of "Dante Alighieri: Opere". As a consequence, I should be able to access the item anyways, if I search for it considering only one of the creators. 

I think that this method works only with the data provided, or with 2 co-authors. I need to add a condition that makes it possible to clone a row more than once if the coauthors are >2.

In [54]:
import pandas as pd
path1 = read_csv("data/metadata.csv", keep_default_na=False, dtype={"id":"string", "creator":"string", "title":"string"})
metadata = path1[["id", "title","creator"]]
metadata = metadata.rename(columns={"creator": "creators"})

for index, row in metadata.iterrows():
        for item_idx, item in row.items():
                if item_idx =="creators":
                        if ";" in item:
                                row_to_copy = metadata.loc[index:index]  
                                metadata = pd.concat([metadata.loc[:index], row_to_copy, metadata.loc[index+1:]]).reset_index(drop=True)
 
metadata_id = []
for idx, row in metadata.iterrows():
    metadata_id.append("metadata-" + str(idx))
metadata.insert(0, "metadata_internal_id", Series(metadata_id, dtype="string")) 
#metadata = metadata.drop(["creators"], axis=1)       
metadata = metadata.join(creators["creatorId"])  
metadata

,metadata_internal_id,id,title,creators,creatorId
0,metadata-0,https://dl.ficlit.unibo.it/iiif/28429/collection,Dante Alighieri: Opere,"Doe, John; Doe, Jane",creator-0
1,metadata-1,https://dl.ficlit.unibo.it/iiif/28429/collection,Dante Alighieri: Opere,"Doe, John; Doe, Jane",creator-1
2,metadata-2,https://dl.ficlit.unibo.it/iiif/2/28429/manifest,Il Canzoniere,"Alighieri, Dante",creator-2
3,metadata-3,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p1,,,creator-3
4,metadata-4,https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p2,,,creator-3
...,...,...,...,...,...
271,metadata-271,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,,,creator-3
272,metadata-272,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,,,creator-3
273,metadata-273,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,,,creator-3
274,metadata-274,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,,,creator-3
275,metadata-275,https://dl.ficlit.unibo.it/iiif/2/19425/canvas...,,,creator-3

In [55]:
with connect("relational.db") as con:   
    annotations_ids.to_sql("Annotation", con, if_exists="replace", index=False)
    image_ids.to_sql("Image", con, if_exists="replace", index=False)
    metadata.to_sql("EntityWithMetadata", con, if_exists="replace", index=False)
    creators.to_sql("creators_table", con, if_exists="replace", index=False)

In [63]:


conn = connect('relational.db')
cursor = conn.cursor()

a = cursor.execute("SELECT name FROM sqlite_schema WHERE type='table' AND name='Annotation'")
a = cursor.fetchone()
b = cursor.execute("SELECT name FROM sqlite_schema WHERE type='table' AND name='Image'")
b = cursor.fetchone()

if 'Annotation' in a and 'Image' in b:
    print(True)
else:
    print(False)
conn.close()

True