In [2]:
from sqlite3 import connect
from pandas import read_csv, Series, DataFrame, read_sql
import pandas as pd

with connect("relational.db") as con: 
    query_1 = "SELECT annotation,target FROM Annotation WHERE annotation='https://dl.ficlit.unibo.it/iiif/2/28429/annotation/p0001-image'"
    annotations_query = read_sql(query_1, con)

                                          annotation                                             target
0  https://dl.ficlit.unibo.it/iiif/2/28429/annota...  https://dl.ficlit.unibo.it/iiif/2/28429/canvas/p1

                                                     e
0    https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
1    https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
2    https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
3    https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
4    https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
..                                                 ...
234  https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
235  https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
236  https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
237  https://dl.ficlit.unibo.it/iiif/2/28429/canvas...
238  https://dl.ficlit.unibo.it/iiif/2/28429/canvas...

[239 rows x 1 columns]

In [18]:
from pandas import merge

df = merge(annotations_query, type_query)
df = df.drop(["target"], axis=1)

df

                                          annotation                                               type
0  https://dl.ficlit.unibo.it/iiif/2/28429/annota...  https://github.com/falaimo99/syntactic_sugars/...